%h1 Feeds

%table
  %tr
    %th Title
    %th Feed URL
    %th Posts
    %th Fetched
    %th
    %th
    %th

  - @feeds.each do |feed|
    %tr
      %td= link_to feed.title, feed
      %td= link_to feed.feed_url, feed.feed_url
      %td= feed.posts.size
      %td
        - if feed.last_fetched.nil?
          never
        - else
          = time_ago_in_words feed.last_fetched
          ago
      %td= link_to 'Edit', edit_feed_path(feed)
      %td= link_to 'Delete', feed, :confirm => "Delete #{feed.title} and all its posts?", :method => :delete

#new_feed
  = render 'form'
