%h1 Feeds

%table
  %tr
    %th Title
    %th Feed URL
    %th Posts
    %th Fetched
    %th
    %th
    %th
    %th

  - @feeds.each do |f|
    %tr
      %td= link_to f.title, f
      %td= link_to f.feed_url, f.feed_url
      %td= f.posts.size
      %td
        - if f.last_fetched.nil?
          never
        - else
          = time_ago_in_words f.last_fetched
          ago
      %td= link_to "Fetch", fetch_feed_url(f)
      %td= link_to 'Edit', edit_feed_path(f)
      %td= link_to 'Delete', f, :confirm => "Delete #{f.title} and all its posts?", :method => :delete

#new_feed
  = render 'form'
