%h1= link_to @feed.title, @feed.url

%p= @feed.description

%p
  = link_to "Fetch", fetch_feed_url(@feed), :class => "button"
  &nbsp;
  %a.button{ :href => "http://validator.w3.org/appc/check.cgi?url=#{@feed.feed_url}"}
    Validate

%p
  = pluralize(@feed.posts.count, "post")

%p
  = link_to @feed.feed_url, @feed.feed_url

%p
  - if @feed.last_fetched.nil?
    This feed has never been fetched
  - else
    Last fetched 
    = time_ago_in_words @feed.last_fetched
    ago

%table
  - @feed.posts.each do |p|
    %tr
      %td= link_to p.title, p.url
      %td= link_to "Map", "https://maps.google.co.uk/maps?q=%s,%s&hl=en&z=18" % [ p.loc['lat'], p.loc['lng'] ], :target => "_blank"
      %td
        - unless p.published.nil?
          = p.published.strftime("%d %b %Y %H:%M")

= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', :root
