%h1= link_to @feed.title, @feed.url

%p= @feed.description

%p= link_to "Fetch", fetch_feed_url(@feed), :class => "button"

%p
  = pluralize(@feed.posts.size, "post")

%p
  = link_to @feed.feed_url, @feed.feed_url

%p
  - if @feed.last_fetched.nil?
    This feed has never been fetched
  - else
    Last fetched 
    = time_ago_in_words @feed.last_fetched
    ago

%table
  - @feed.posts.each do |p|
    %tr
      %td= link_to p.title, p.url
      %td= p.loc['lat']
      %td= p.loc['lng']
      %td= p.published.strftime("%d %b %Y %H:%M")

= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', :root
