!!!5
%html
  %head
    %title Apollo
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = csrf_meta_tag

  
  %body
    
    #userbar
      - if current_user
        Logged in as 
        = current_user.email
        = link_to "Log out", logout_path
          
    - if notice
      %p#notice= notice

    - if alert
      %p#alert= alert
    
    = link_to(image_tag("TAL_logo_blue-h100.png", :size => "275x100", :alt => "Talk About Local logo"), :root, :class => "logo")
    
    = yield  


